Package: zabbix-iib-monitor
Version: 1.0.0
Maintainer: Peter Jokinen <peter.jokinen@digia.com>
Homepage: https://github.com/digiapulssi/zabbix-iib-monitoring
Section: net
Priority: optional
Architecture: amd64
Depends: zabbix-agent-pulssi (>= 3.4.4),python (>= 2.7),python-all,dh-python,python-setuptools,virtualenv,jq (>=1.5)
Description: Scripts for monitoring IBM Integration Bus with Zabbix
 Monitoring is implemented with a python script that listens for MQTT messages,
 sent by IBM integration Bus.
 Received messages are written to disk (Default: /tmp/zabbix-iib-monitor.json),
 from where a Zabbix agent polls the required data to Zabbix.
 