Package: zabbix-iib-monitor
Version: 1.0.0
Maintainer: Peter Jokinen <peter.jokinen@digia.com>
Homepage: https://github.com/digiapulssi/zabbix-iib-monitoring
Section: base
Priority: optional
Architecture: amd64
Depends: python (>= 2.7),dh-python,python-setuptools,virtualenv
Description: Scripts for monitoring IBM Integration Bus with Zabbix
